.App {
  background-color: #243443;
  min-height: 100vh;
}

.App-header {
  background-color: black;
  min-height: 8vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-body {
  margin-top: 20px;
}

